.root {
  margin-top: 15px;

  position: absolute;
  top: 240px;
  right: 190px;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 8px;
  background-color: #3c3c3c;
  color: aliceblue;
  padding-left: 20px;
  width: 200px;
  height: 35px;
  border-radius: 13px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.icon {
  width: 24px;
  height: 24px;
  opacity: 0.3;
  position: absolute;
  left: 195px;
  top: 10px;
  stroke: whitesmoke;
}
.closeIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 13px;
  stroke: whitesmoke;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
