.root {
  margin-top: 15px;

  position: relative;
  top: 64px;
  @media (max-width: 1098px) {
    top: 95px;
  }
  @media (max-width: 1320px) {
    top: 95px;
    display: flex;
    justify-content: center;
  }
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 8px;
  background-color: rgb(31, 30, 30);
  color: aliceblue;
  padding-left: 20px;
  width: 200px;
  height: 35px;
  border-radius: 13px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  &::placeholder {
    color: lightgrey;
  }
}
.icon {
  width: 24px;
  height: 24px;
  opacity: 0.9;
  position: relative;
  left: -32px;
  top: 5px;
  stroke: rgb(234, 234, 234);
}
.closeIcon {
  width: 18px;
  height: 18px;
  opacity: 0.9;
  position: relative;
  left: -32px;
  top: 5px;
  stroke: whitesmoke;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
